@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Light mode scrollbar */
::-webkit-scrollbar-track {
  @apply bg-zinc-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
  @apply bg-zinc-800;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-zinc-600 rounded;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500;
}
